<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bogus.spring.test.mybatis.test01.dao.RealEstateDAO">

	<!-- 1. id 로 select 하기 -->
	<select id="selectRealEstate" resultType="com.bogus.spring.test.mybatis.test01.model.RealEstate"
	parameterType="int">
		SELECT 
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
		 	`id` = #{id}
	</select>
	
	<!-- 2. 월세조건 select -->
	<select id="selectRentPrice" resultType="com.bogus.spring.test.mybatis.test01.model.RealEstate"
	parameterType="int">
			SELECT 
				`id`
				, `realtorId`
				, `address`
				, `area`
				, `type`
				, `price`
				, `rentPrice`
				, `createdAt`
				, `updatedAt`
			FROM
				`real_estate`
			WHERE
			
			 	`rentPrice` <![CDATA[<]]> #{rentPrice}
	</select>
	
	<!-- 3. 복합조건 select -->
	<select id="selectPropertyInformation" resultType="com.bogus.spring.test.mybatis.test01.model.RealEstate"
	parameterType="map">
			SELECT 
				`id`
				, `realtorId`
				, `address`
				, `area`
				, `type`
				, `price`
				, `rentPrice`
				, `createdAt`
				, `updatedAt`
			FROM
				`real_estate`
			WHERE
				`area` <![CDATA[>=]]> #{area} AND `price` <![CDATA[<=]]> #{price}
			ORDER BY 
				`id` DESC
	</select>
	
	<!-- 1. 객체로 insert 하기 -->
	<insert id="insertRealEstateByObject" parameterType="com.bogus.spring.test.mybatis.test01.model.RealEstate">
		INSERT INTO
			`real_estate`
		(
			`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, now()
			, now()
		)
	</insert>
	
	<!-- 2. field 로 insert 하기 -->
	<insert id="insertRealEstate" parameterType="map">
		INSERT INTO
			`real_estate`
		(
			`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
			, now()
			, now()
		)
	</insert>
		
	
		

</mapper>