@charset "UTF-8";

#wrap {
	width:800px;
	margin:auto;
}

header {
	height:90px;
}

.logo > a{
	text-decoration: none;
	color:white;
}

.logo > a:hover {
	color:#bceff5;
}


footer {
	height:120px;
}

.storeInfo {
	height:120px;
	border-radius: 10px;
}

.menu {
	border-radius: 5px;
	background-color:lightgray;
}


.main-contents > a {
	text-decoration: none;
	color:black;
}

.main-contents > a:hover {
	color:gray;
}

